body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    background-color: #eaeaea;
    margin:100px;
}
.main {
    background-color: #FFF;
    width: 600px;
    height:350px;
    margin:0 auto;
    padding:20px;
}
.title {
    color: #000;
    text-align:center;
    font-size:18px;
    font-weight:bold;

}

.text{

    padding-left:50px;
    padding-right:50px;
}

.login_form{
    padding-left:20px;
    text-align: center;
    padding: 20px;
}

.login_div{
    width:400px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    padding:10px;
    height: 100px;
    font-size: 12px;
    font-weight: bold;
}

.login_div p{
    text-align: left;

}

.footer{
    color:#cccccc;
    text-align: center;
    margin:50px;
}

.content{
    height:150px;

}

.error{
    color:#ff0000;
    font-style: italic;
    font-size: 12px;

}


.login_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color:#77d42a;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #268a16;
    display:inline-block;
    color:#306108;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #aade7c;
}.login_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
    background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
    background-color:#5cb811;
    cursor: pointer;
}.login_button:active {
    position:relative;
    top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

.locales{
    width: 100%;
    float:left;
    margin:0 auto;
    text-align: center;
    clear: both;
    height: 40px;
}

.locales a{
    margin-right: 15px;
    font-size: 10px;
}