
body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #EEE;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 13px;
    height: 100%;
}

ul, ol, dl { 
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;	 
    padding-right: 15px;
    padding-left: 15px; 
}

a img { 
    border: none;
}


a:link {
    color:#414958;
    text-decoration: underline; 
}
a:visited {
    color: #4E5869;
    text-decoration: underline;
}
a:hover, a:active, a:focus { 
    text-decoration: none;
}

.container {
    width: 1000px;
    background-color: #FFFFFF;
    margin: 0 auto; 
}


.header {
    background-color: #FFFFFF;
    height:220px;
}

.footer{
    color:#cccccc;
    text-align: center;
    margin:5px;
    height: 50px;
    float:left;
    width: 100%;
}


.middle {
    background-color: #FFFFFF;
    width: 100%;
    float:left;
}

.left_menu {
    float: left;
    width: 20%;
    padding-bottom: 10px;
    margin: 10px;
}
.content {
    padding: 10px 0;
    width: 75%;
    float: left;
}

.content_books{
    margin-top:30px;
    float:left;
}



.genres a:hover, a:active, a:focus {
    background-color: #FFFFFF;
    color: #999;
}

.genres a, a:visited { 
    padding: 3px 3px 3px 15px;
    display: block; 
    text-decoration: none;
    color: #000;

}

.genres a.selected_link{
    color:red;
}




.search_div{
    margin:20px;
    text-align: left;
    background-color: #dbe4f6;
    height: 35px;
    vertical-align: middle;
    padding: 5px;
    width: 95%;
    float:left;
}

.search_form{
    float:left;
    width: 90%;
    text-align: right;
}

.search_type{
    float:left;
    width: 10%;
    text-align: right;
    margin-top: 5px;
}

.search_type_dropdown{
    width: 85px;
}


.logo{
    text-align: left;
    padding: 20px;
    float:left;
    width:100px;
    height: 100px;
}

.descr{
    float: left;
    width: 500px;
    text-align: left;
    padding-top: 50px;
}

.welcome{
    text-align: right;
    padding-top: 50px;
    font-weight: normal;
    float:right;
}

.welcome a{
    margin-right: 15px;
    font-size: 10px;
}

.search_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
    width: 100px;
}.search_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
    cursor:pointer;
}.search_button:active {
    position:relative;
    top:1px;
}




.book_list{
    float:left;
    width: 750px;

}


.book_list h3{
    text-align: center;
    padding: 0;
    margin: 0;
}


.book_title{
    height: 50px;
    float:left;
}

.col1{
    vertical-align: top;
    width: 100px;
}

.col2 a.content_link{
    color:red;
    font-size: 11px;
    text-decoration: underline;
    margin-left: 5px;
    font-weight: bold
}

.col2{
    vertical-align: top;
    width: 240px;
}

.col2 a{
    font-weight: bold;
    color:#378de5;
    font-size: 15px;
}

.col2 p{
    font-size: 11px;
}

.col3{
    vertical-align: top;
    width: 350px;
}

.book_details p{
    font-size: 11px;
}

.book_title a{
    color:#378de5 ;
    font-weight: bold; 
    font-size: 15px; 
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.book_info{
    width: 210px;
    height: 450px;
    font-size: 12px;
    float:left;
    margin:15px;
}

.book_image{
    height: 260px;
    float:left;

}

.book_details{
    float:left;
    margin-top: 10px;
}

.letters{
    float:left;
    height: 20px;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.letters a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin:5px;
    color:#4d6cd3;
}

.letters a.selected_letter{
    color:red;
}

.pdf_viewer{
    margin: 0 auto;
    width:850px;
    margin-top:30px;
    height: 1000px;
}

.search_string{
    width: 730px;
    float: left;
    padding: 3px;
    margin:3px;
}

.pager a{
    margin-left: 5px;
    margin-top: 50px;
}

.pager{
    margin-left: 15px;
    width: 100%;
    float:left;
}
.pager .selected_page{
    color:red;
}

.ajaxLoading { 
    color: #440000;

}


#loading_wrapper{
    width: 100%;
    display: block;
    text-align: center;
    position: fixed;
    display: none;
}

#loading_wrapper p{
    background-color: #fde88e;
    width: 100px;
    height: 20px;
    margin: 0 auto;
    font-weight: bold;
}

.locales{
    width: 100%;
    height: 40px;
    float:left;
}

.button{text-decoration:none; text-align:center; 
 padding:5px 13px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:18px;
 -moz-border-radius:18px; 
 border-radius: 18px; 
 font:11px Tahoma, Geneva, sans-serif; 
 font-weight:bold; 
 color:#1c0101; 
 background-color:#a5b8b8; 
 background-image: -moz-linear-gradient(top, #a5b8b8 0%, #7d8587 100%); 
 background-image: -webkit-linear-gradient(top, #a5b8b8 0%, #7d8587 100%); 
 background-image: -o-linear-gradient(top, #a5b8b8 0%, #7d8587 100%); 
 background-image: -ms-linear-gradient(top, #a5b8b8 0% ,#7d8587 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d8587', endColorstr='#7d8587',GradientType=0 ); 
 background-image: linear-gradient(top, #a5b8b8 0% ,#7d8587 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }.button:hover{
 padding:5px 13px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:18px;
 -moz-border-radius:18px; 
 border-radius: 18px; 
 font:11px Tahoma, Geneva, sans-serif; 
 font-weight:bold; 
 color:#050101; 
 background-color:#d9d9d9; 
 background-image: -moz-linear-gradient(top, #d9d9d9 0%, #6b767a 100%); 
 background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #6b767a 100%); 
 background-image: -o-linear-gradient(top, #d9d9d9 0%, #6b767a 100%); 
 background-image: -ms-linear-gradient(top, #d9d9d9 0% ,#6b767a 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b767a', endColorstr='#6b767a',GradientType=0 ); 
 background-image: linear-gradient(top, #d9d9d9 0% ,#6b767a 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }.button:active{
 padding:5px 13px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:18px;
 -moz-border-radius:18px; 
 border-radius: 18px; 
 font:11px Tahoma, Geneva, sans-serif; 
 font-weight:bold; 
 color:#050101; 
 background-color:#d9d9d9; 
 background-image: -moz-linear-gradient(top, #d9d9d9 0%, #6b767a 100%); 
 background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #6b767a 100%); 
 background-image: -o-linear-gradient(top, #d9d9d9 0%, #6b767a 100%); 
 background-image: -ms-linear-gradient(top, #d9d9d9 0% ,#6b767a 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b767a', endColorstr='#6b767a',GradientType=0 ); 
 background-image: linear-gradient(top, #d9d9d9 0% ,#6b767a 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }