<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/library_template.xhtml">
         
            <ui:define name="books_count">
                <h:outputText value="#{msg.book_count} #{searchController.totalBooksCount}" id="booksCount"></h:outputText> 
            </ui:define>
            
             <ui:define name="title">
                #{msg.book_list}
            </ui:define>
            
             <ui:define name="content">
                
              
                <h:dataTable id="booksList"  value="#{searchController.currentBookList}" var="b" cellspacing="10px" columnClasses="col1, col2, col3"> 
                    
                     <h:column>
                          <h:outputLink value="#{request.contextPath}/PdfContent?id=#{b.id}" target="_blank">
                             <h:graphicImage  value="/ShowImage?id=#{b.id}" width="160" height="220"/>
                          </h:outputLink>  
                    </h:column>
                    
                     <h:column>

                        <div>
                            <p>  <h:outputLink value="#{request.contextPath}/PdfContent?id=#{b.id}" target="_blank">#{b.name} </h:outputLink></p>  
                            <p><strong>#{msg.author_name}: </strong>#{b.author}</p>                           
                            <p><strong>#{msg.page_count}:</strong> #{b.pageCount} #{msg.pages}</p>
                            <p><strong>#{msg.exemplar_count}</strong> #{b.exemplarCount}</p>
                            <p><strong>#{msg.genres}</strong> #{b.genre}</p>
                            <p><h:graphicImage library="images" name="book.gif" /><h:outputLink styleClass="content_link" value="#{request.contextPath}/PdfContent?id=#{b.id}"  target="_blank">#{msg.read} </h:outputLink>
                            </p>
                        </div>
                         
                          </h:column>
               
                     </h:dataTable>
            </ui:define>
            
                <ui:define name="paginator">
                <h:form rendered="#{searchController.totalBooksCount>searchController.booksOnPage}">
                    #{msg.pager}
                     <ui:repeat value="#{searchController.pageNumbers}" var="pageNumber" >
                        <h:commandLink value="#{pageNumber}"  styleClass="#{pageNumber == searchController.selectedPageNumber ? 'selected_page':''}">
                            <f:param name="page_number" value="#{pageNumber}" />
                            <f:ajax onevent="showProgress" event="click" render=":booksList :lettersForm :pages1 :pages2" listener="#{searchController.selectPage()}"/>
                        </h:commandLink>
                    </ui:repeat>
                </h:form>


            </ui:define>

        </ui:composition>
    </h:body>
</html>