<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:view locale="#{localeChanger.currentLocale}">
          <h:outputStylesheet library="css" name="style_main.css"  />
    <h:head>
        <title>#{msg.book_list}</title>
         <h:form>     
             <h:commandButton action="${user.toMainPage()}"  styleClass="button" value="${msg.home}">
            </h:commandButton>  
             <h:commandButton action="${user.toUsersPage()}" styleClass="button" value="#{msg.readers}">
             </h:commandButton>    
             <h:commandButton action="${user.toNotesPage()}" styleClass="button" value="${msg.notes}">
             </h:commandButton>  
             <h:commandButton action="${user.logout()}" styleClass="button" value="${msg.exit}">
             </h:commandButton>    
        </h:form>
    </h:head>
    <h:body>
        
         <ui:include src="/templates/locales.xhtml"/>
        
        <h:form enctype="multipart/form-data"  id="form1">
            <p:growl id="messages" showDetail="true"/>
            <p:panel header="#{msg.book_list}" style="width: 1800px;"> 
                <p:panelGrid columns="2">
                    <h:outputLabel for="id" value="ID:${book.howManyBooksInLibr()} " />
                    <p:inputText  value="#{book.id}"/>
                    
                    <h:outputLabel for="author" value="${msg.author_name}" />  
                    <p:selectOneMenu  value="#{book.author}" style="width: 200px;"  styleClass="edit-field">
                        <f:selectItem itemValue="1" itemLabel="Дэн Браун"/> 
                        <f:selectItem itemValue="2" itemLabel="Федор Достоевский"/>
                        <f:selectItem itemValue="3" itemLabel="Эрик Рис"/>   
                        <f:selectItem itemValue="4" itemLabel="Данте Алигьери"/>   
                        <f:selectItem itemValue="5" itemLabel="Уильям Шекспир"/>   
                        <f:selectItem itemValue="6" itemLabel="Лев Толстой"/>   
                        <f:selectItem itemValue="7" itemLabel="Жюль Верн"/>   
                        <f:selectItem itemValue="8" itemLabel="Томас Харрис"/>    
                        <f:selectItem itemValue="9" itemLabel="Джоан Роулинг"/> 
                        <f:selectItem itemValue="10" itemLabel="Джованни Бокаччо"/>   
                        <f:selectItem itemValue="11" itemLabel="Андреа Пирло"/>   
                        <f:selectItem itemValue="12" itemLabel="Эшли Вэнс"/>   
                        <f:selectItem itemValue="13" itemLabel="Ха Джун Чанг"/>
                        <f:selectItem itemValue="14" itemLabel="Кэмерон Диас"/>
                        <f:selectItem itemValue="15" itemLabel="Джон Фаулз"/>
                        <f:selectItem itemValue="16" itemLabel="Марио Пьюзо"/>
                        <f:selectItem itemValue="17" itemLabel="Виктор Гюго"/>
                        <f:selectItem itemValue="18" itemLabel="Борис Акунин"/>
                        <f:selectItem itemValue="19" itemLabel="Габриэль Гарсия Маркес"/>
                        <f:selectItem itemValue="20" itemLabel="Агата Кристи"/>
                        <f:selectItem itemValue="21" itemLabel="Маргарэт Митчелл"/>           
                    </p:selectOneMenu>
                    
                    <h:outputLabel for="name" value="#{msg.book_name}" />
                    <p:inputText value="#{book.name}"/>
                    
                    <h:outputLabel for="genre" value="${msg.genres}" />
                   <p:selectOneMenu  value="#{book.genre}" style="width: 200px;"  styleClass="edit-field">
                       <f:selectItem itemValue="1" itemLabel="Зарубежная классика"/> 
                       <f:selectItem itemValue="2" itemLabel="Европейская литература"/> 
                       <f:selectItem itemValue="3" itemLabel="Русская классика"/> 
                       <f:selectItem itemValue="4" itemLabel="Биография"/> 
                       <f:selectItem itemValue="5" itemLabel="Образование"/>
                       <f:selectItem itemValue="6" itemLabel="Зарубежная литература"/> 
                    </p:selectOneMenu>             
                    <h:outputLabel for="content" value="${msg.content}" />
                    <p:inputText  value="#{book.content}"/>
                     <h:outputLabel for="pageCount" value="${msg.page_count}" />
                     <p:inputText  value="#{book.pageCount}"/>
                     <h:outputLabel for="image" value="${msg.image}" />
                       <h:form enctype="multipart/form-data" id="formUploadImage" >
                           <p:fileUpload value="#{book.fileImage}"  mode="simple"></p:fileUpload>   
                        </h:form>
                       <h:outputLabel for="exemplarCount" value="${msg.exemplar_count}" />
                       <p:inputText  value="#{book.exemplarCount}"/>
                    <f:facet name="footer">
                        <h:commandButton value="${msg.addBook}" action="#{book.addAction()}"/>
                    </f:facet>
                </p:panelGrid>
                <p:spacer height="30px;"/>
                <p:dataTable value="#{book.bookList}" var="b"  widgetVar="50" style="width: 1700px;" editable="true">
                    <f:facet name="header">  
                        ${msg.book_list}
                    </f:facet>
                    <p:ajax event="rowEdit" listener="#{book.onEdit}" update=":form1:messages" />  
                    <p:ajax event="rowEditCancel" listener="#{book.onCancel}" update=":form1:messages" /> 
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="ID" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{b.id}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{b.id}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor> 
                    </p:column>
 
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="#{msg.author_name}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{b.author}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{b.author}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column>
 
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="${msg.book_name}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{b.name}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{b.name}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column> 
                    
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="${msg.genres}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{b.genre}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{b.genre}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column> 
                    
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="${msg.content}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{b.content}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{b.content}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column>  
                    
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="${msg.page_count}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{b.pageCount}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{b.pageCount}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column>  
                    
                    <p:column>
   
                        <f:facet name="header">  
                            <h:outputText value="#{msg.image}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{b.image}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{b.image}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column>  
                    
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="${msg.exemplar_count}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{b.exemplarCount}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{b.exemplarCount}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column>  
                    
                    
                    <p:column headerText="${msg.operations}" style="width:100px">  
                        <p:rowEditor />  
                    </p:column> 
                </p:dataTable>
            </p:panel>
        </h:form>
    </h:body>
        </f:view>
</html>

