<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:view locale="#{localeChanger.currentLocale}">
          <h:outputStylesheet library="css" name="style_main.css"  />
    <h:head>
        <title>${msg.notes}</title>
         <h:form>     
            <h:commandButton action="${user.toMainPage()}"  styleClass="button"   value="#{msg.home}">
            </h:commandButton>  
             <h:commandButton action="${user.toUsersPage()}"  styleClass="button"  value="#{msg.readers}">
             </h:commandButton>    
              <h:commandButton action="${user.toBookPage()}"  styleClass="button"  value="#{msg.addBook}">
             </h:commandButton> 
             <h:commandButton action="${user.logout()}"  styleClass="button"  value="#{msg.exit}">
             </h:commandButton>    
        </h:form>
    </h:head>
    <h:body>
        
          <ui:include src="/templates/locales.xhtml"/>
        
        <h:form id="form1">
            <p:growl id="messages" showDetail="true"/>
            <p:panel header="#{msg.notesList}" style="width: 1800px;"> 
                <p:panelGrid columns="2">
                    <h:outputLabel for="id" value="ID:${note.howManyNotes()} " />
                    <p:inputText  value="#{note.id}"/>
                    <h:outputLabel for="user" value="${msg.readers}" />
                    <p:selectOneMenu  value="#{note.user}" style="width: 200px;"  styleClass="edit-field">
                        <f:selectItems value="${note.readers}"/>
                            </p:selectOneMenu>
                    <h:outputLabel for="name" value="${msg.book_name}" />
                  <p:selectOneMenu  value="#{note.book}" style="width: 200px;"  styleClass="edit-field">
                      <f:selectItems value="${note.books}"/>
                            </p:selectOneMenu>
                    <h:outputLabel for="issuing_date" value="${msg.issDate}" />
                     <p:inputText value="#{note.issuingDate}"/>
                     
                    <h:outputLabel for="return_date" value="${msg.retDate}" />
                     <p:inputText value="#{note.returnDate}"/>
                     
                     <h:outputLabel for="location" value="${msg.place}" />
                     <p:selectOneMenu  value="#{note.location}" style="width: 100px;"  styleClass="edit-field">
                         <f:selectItem itemValue="Зал" itemLabel="${msg.Hall}"/> 
                         <f:selectItem itemValue="Дом" itemLabel="${msg.Home}"/>
                     </p:selectOneMenu>
                    <f:facet name="footer">
                        <h:commandButton value="#{msg.addNote}" action="#{note.addAction()}"/>
                    </f:facet>
                </p:panelGrid>
                <p:spacer height="30px;"/>
                <p:dataTable value="#{note.noteList}" var="n"  widgetVar="50" style="width: 1700px;" editable="true">
                    <f:facet name="header">  
                       ${msg.notesList}
                    </f:facet>
                    <p:ajax event="rowEdit" listener="#{note.onEdit}" update=":form1:messages" />  
                    <p:ajax event="rowEditCancel" listener="#{note.onCancel}" update=":form1:messages" /> 
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="ID" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{n.id}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{n.id}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor> 
                    </p:column>
 
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="${msg.readers}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{n.user}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{n.user}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column>
 
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="${msg.book_name}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{n.book}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{n.book}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column> 
                    
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="${msg.issDate}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{n.issuingDate}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{n.issuingDate}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column> 
                    
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="#{msg.retDate}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{n.returnDate}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{n.returnDate}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column>  
                    
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="${msg.place}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{n.location}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{n.location}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column>  
                 
                    <p:column headerText="${msg.operations}" style="width:100px">  
                        <p:rowEditor />  
                    </p:column> 
                </p:dataTable>
            </p:panel>
        </h:form>
    </h:body>
        </f:view>
</html>

