<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:view locale="#{localeChanger.currentLocale}">
         <h:outputStylesheet library="css" name="style_main.css"  />
      <h:head>
          <title>#{msg.readers}</title>
          <h:form>     
              <h:commandButton action="${user.toMainPage()}"  styleClass="button"  value="#{msg.home}">
            </h:commandButton>  
              <h:commandButton action="${user.toNotesPage()}" styleClass="button"  value="#{msg.notes}">
             </h:commandButton>    
              <h:commandButton action="${user.toBookPage()}"  styleClass="button"   value="#{msg.addBook}">
             </h:commandButton> 
              <h:commandButton action="${user.logout()}" styleClass="button"   value="#{msg.exit}">
             </h:commandButton>    
        </h:form>
    </h:head>
    <h:body>                  
                 <ui:include src="/templates/locales.xhtml"/>

       <h:form id="form1">
            <p:growl id="messages" showDetail="true"/>
            <p:panel header="${msg.readers}" style="width: 1800px;"> 
                <p:panelGrid columns="2">
                    <h:outputLabel for="id" value="ID:${userDAO.howManyUsersRegistered()} " />
                    <p:inputText  value="#{user.id}"/>
                    <h:outputLabel for="ticketNumber" value="${msg.ticketNumber}:${userDAO.lastTicketNumber()}" />
                    <p:inputText value="#{user.ticketNumber}"/>
                    <h:outputLabel for="name" value="${msg.input_name}" />
                    <p:inputText  value="#{user.name}"/>
                    <h:outputLabel for="password" value="${msg.password}" />
                     <p:inputText  value="#{user.password}"/>
                       <h:outputLabel for="role" value="admin/reader" />
                     <p:inputText  value="#{user.role}"/>
                    <f:facet name="footer">
                        <h:commandButton value="#{msg.addReader}" action="#{user.addAction()}"/>
                    </f:facet>
                </p:panelGrid>
                <p:spacer height="30px;"/>
                <p:dataTable value="#{user.userList}" var="u"  widgetVar="50" style="width: 1700px;" editable="true">
                    <f:facet name="header">  
                        ${msg.readers}
                        <h:form>
    <p:growl id="growl" life="2000" />
 
                        </h:form>>
                    </f:facet>
                    <p:ajax event="rowEdit" listener="#{user.onEdit}" update=":form1:messages" />  
                    <p:ajax event="rowEditCancel" listener="#{user.onCancel}" update=":form1:messages" /> 
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="ID" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{u.id}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{u.id}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor> 
                    </p:column>
 
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="${msg.ticketNumber}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{u.ticketNumber}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{u.ticketNumber}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column>
 
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="#{msg.input_name}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{u.name}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{u.name}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column> 
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="#{msg.password}" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{u.password}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{u.password}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column>               
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="Admin/Reader" />  
                        </f:facet>
                        <p:cellEditor>  
                            <f:facet name="output">  
                                <h:outputText value="#{u.role}" />  
                            </f:facet>  
                            <f:facet name="input">  
                                <p:inputText value="#{u.role}" style="width:100%"/>  
                            </f:facet>  
                        </p:cellEditor>
                    </p:column>               
                    <p:column headerText="${msg.operations}" style="width:100px">  
                        <p:rowEditor />  
                    </p:column> 
                </p:dataTable>
            </p:panel>
        </h:form>
          
    </h:body>
        </f:view>
</html>

