<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="style_main.css"  />
    </h:head>
    <h:body>
        <ui:composition>

            <div class="logo">
                <h:graphicImage library="images" name="library.jpg" />

            </div>
            <div class="descr">
                <h3>#{msg.welcome_title}</h3>
                <h:form rendered="${user.role.equalsIgnoreCase('admin') || (user.role.equalsIgnoreCase('librarian'))}">
                    <h:commandButton   action="${user.toNotesPage()}" styleClass="button"  value="#{msg.notes}"/>
                    <h:commandButton   action="${user.toBookPage()}"  styleClass="button"   value="#{msg.addBook}"/>
                    <h:commandButton   action="${user.toUsersPage()}"  styleClass="button"   value="#{msg.readers}"/>
                           
                 </h:form>  
            </div>

            <div class="welcome">
                
                 <ui:include src="/templates/locales.xhtml"/>
                 
                  <p><h5>#{msg.welcome},${user.name}</h5></p>
                  
                <h:form>
                    <h:commandLink action="#{user.logout()}" value="#{msg.exit}"/>
                </h:form>
            </div>


           <div class="search_div">
                <h:form styleClass="search_form">
                    <h:inputText id="search_string" styleClass="search_string" value="${searchController.searchString}" valueChangeListener="${searchController.searchStringChanged}">
                        <f:ajax  event="change" />
                    </h:inputText>
                    <h:commandButton value="#{msg.search}" styleClass="search_button">
                        <f:ajax onevent="showProgress" execute="@form" render=":booksList @form :lettersForm :pages1 :pages2 :booksCount" listener="${searchController.findBooksBySearch()}"/>
                    </h:commandButton>
                </h:form>

                <h:form styleClass="search_type">
                    <h:selectOneMenu styleClass="search_type_dropdown" value="${searchController.searchType}" valueChangeListener="${searchController.searchTypeChanged}">
                        <f:selectItems value="${searchTypeController.searchList}" />
                        <f:ajax event="change"/>
                    </h:selectOneMenu>

                </h:form>

            </div>

            <div class="letters">
                <h:form>
                    <ui:repeat value="#{searchController.russianLetters}" var="letter">


                         <h:commandLink value="#{letter}" styleClass="#{letter == bookListController.selectedLetter ? 'selected_letter':''}">

                            <f:param name="letter" value="#{letter}" />
                            <f:ajax onevent="showProgress" event="click" render=":booksList @form :lettersForm :pages1 :pages2 :booksCount" listener="#{searchController.findBooksByLetter()}"/>

                        </h:commandLink>




                    </ui:repeat>
                </h:form>

            </div>

        </ui:composition>

    </h:body>
</html>

