<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="style_main.css"  />
    </h:head>
    <h:body>
        <ui:composition>

            <h4>#{msg.genres}</h4>

          <h:form styleClass="genres">
              <ui:repeat value="#{genreDAO.genreList}" var="g">

                    <h:commandLink value="#{g.name}" styleClass="#{g.id == searchController.selectedGenreId ? 'selected_link':''}">

                        <f:param name="genre_id" value="#{g.id}" />
                        <f:ajax onevent="showProgress" event="click" render=":booksList @form :lettersForm :pages1 :pages2 :booksCount" listener="#{searchController.findBooksByGenre()}"/>

                    </h:commandLink>

                </ui:repeat>

            </h:form>


        </ui:composition>
    </h:body>
</html>

