<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
      <f:view locale="#{localeChanger.currentLocale}">
      <h:head>
            <title><ui:insert name="title"/></title>
            <h:outputStylesheet library="css" name="style_main.css"  />
            <h:outputScript library="js" name="library.js" target="head"/>
        </h:head>
    <h:body>
        
          <div id="loading_wrapper">
                <p>#{msg.loading}...</p>
            </div>
        
        <div class="container">

            <div class="header">
                <ui:insert name="header">
                    <ui:include src="/templates/header.xhtml"/>
                </ui:insert>                 
            </div>

            <div class="middle">

                <div class="left_menu">
                    <ui:insert name="left_menu">
                        <ui:include src="/templates/left_menu.xhtml"/>
                    </ui:insert>                 
                </div>

                <div class="content">

                        <p><strong><ui:insert name="books_count"/></strong></p>

                        <div class="pager">
                            <h:panelGroup id="pages1" layout="block"> <ui:insert name="paginator"/> </h:panelGroup>

                        </div>

                        <div class="content_books">
                            <ui:insert name="content">
                                <ui:include src="/templates/content.xhtml"/>
                            </ui:insert>    
                        </div>

                        <div class="pager">

                            <h:panelGroup id="pages2" layout="block"> <ui:insert name="paginator"/> </h:panelGroup>

                        </div>

                    </div>



                <div style="clear: both;">&nbsp;</div>

            </div>

            <div class="footer">
                <ui:insert name="footer">
                    <ui:include src="/templates/footer.xhtml"/>
                </ui:insert>                 
            </div>


        </div>
    </h:body>
      </f:view>
</html>

