<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
     <f:view locale="#{localeChanger.currentLocale}"> 
    <h:head>
        <title>#{msg.welcome_title}</title>
        <h:outputStylesheet library="css" name="style_index.css"  />
            <h:outputScript library="js" name="library.js" target="head"/>
    </h:head>
    <h:body>
        
          <noscript>
                <h4><p>Включите JavaScript в вашем браузере, чтобы работать с нашим приложением</p></h4>


                <style type="text/css">
                    .main { display:none; }
                    p { text-align: center; }
                </style>

            </noscript>
        
        <div class="main">

            <div class="content">
                <p class="title"><h:graphicImage library="images" name="lib.png" /></p>
                <p class="title">#{msg.index_title}</p>
              
            </div>

            <div class="login_div">
                <p class="title">#{msg.input_info}</p>

                  <h:form styleClass="login_form">

                        <table align="left" width="150">
                            <tr><td align="left"><span style="color:red;">*</span> #{msg.input_name} <h:inputText id="username" value="#{user.name}" required="false" requiredMessage="#{msg.login_required}"/></td>
                                <td align="left"><span style="color:red;">*</span> #{msg.password_required} <h:inputText id="password" value="#{user.password}" required="false" requiredMessage="#{msg.password_required}"/></td>
                                <td align="left"><span style="color:red;">*</span> #{msg.login_role}
                                    <p:selectOneMenu  value="#{user.role}" style="width: 100px;"  styleClass="edit-field">
                                        <f:selectItem itemValue="admin" itemLabel="#{msg.Admin}"/> 
                                        <f:selectItem itemValue="reader" itemLabel="#{msg.Reader}"/>
                                        <f:selectItem itemValue="librarian" itemLabel="#{msg.Librarian}"/>   
                                    </p:selectOneMenu>
                                </td>
                                    <h:commandButton action="#{user.loginProject()}" value="#{msg.entry}"   styleClass="login_button">  
                                    </h:commandButton> 
                                     <h:commandButton action="${userDAO.toRegistrPage()}" value="${msg.Registration}"  styleClass="login_button" ></h:commandButton>
                                </tr> 
                            <tr><td colspan="3">  
                                    <p><h:message id="loginError" for="username" styleClass="error"/></p>
                                </td></tr>
                        </table>


                        
                    </h:form>
                     <ui:include src="/templates/locales.xhtml"/>

            </div>

            <div class="footer">
                #{msg.author_info}
            </div>
        </div>
        
       
    </h:body>
          </f:view>  
</html>

