<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
   <f:view locale="#{localeChanger.currentLocale}">
         <h:outputStylesheet library="css" name="style_index.css"  />
    <h:head>
        <title>${msg.Registration}</title>
        
    </h:head>
    <h:body>
          <ui:include src="/templates/locales.xhtml"/>
           <h:form id="form1">
            <p:growl id="messages" showDetail="true"/>
            <p:panel header="${msg.Registration}" class="login_div" style="width: 400px; height: 400px "> 
                <p:panelGrid columns="2">
                    <h:outputLabel for="id" value="${msg.Your_id}:${userDAO.howManyUsersRegistered()} " />
                    <p:inputText  value="#{user.id}"/>
                    <h:outputLabel for="ticketNumber" value="${msg.Your_ticket}:${userDAO.lastTicketNumber()}" />
                    <p:inputText  value="${user.ticketNumber}"/>
                    <h:outputLabel for="name" value="${msg.input_name}" />
                    <p:inputText  value="#{user.name}" required="true"/>
                    <h:outputLabel for="password" value="${msg.password}" />
                     <p:inputText  value="#{user.password}"/>
                     <p:selectOneMenu  value="#{user.role}" style="width: 100px;"  styleClass="edit-field">
                        <f:selectItem itemValue="reader" itemLabel="Читатель"/> 
                     </p:selectOneMenu>
                    <f:facet name="footer">
                        <h:commandButton value="#{msg.Registration}" action="#{userDAO.signUpNewUser(user)}"/>
                    </f:facet>
                </p:panelGrid>
            </p:panel>
           </h:form>
    </h:body>
   </f:view>
</html>

